@import 'tailwindcss';
@import './components.css';
@import './theme.css';

@layer base {
  html {
    color-scheme: light dark;
  }

  .notion-page {
    padding-inline: 1.25rem !important;
    width: 100% !important;
  }

  .notion-code code {
    white-space: pre-wrap !important;
  }

  .notion {
    color: var(--color-text) !important;
    font-family: 'Pretendard', sans-serif !important;
    font-size: 1.1rem !important;
    transition:
      background-color 0.3s ease-in-out,
      color 0.3s ease-in-out !important;
    background-color: var(--color-article-bg) !important;
  }

  html.dark .notion {
    color: var(--color-text) !important; /* 이미 var로 바뀌니까 여기선 값은 안 바꿔도 됨 */
  }
  /* antialiased ==폰트를 부드럽게 보이게 하기 위한 렌더링 힌트 */
  /* .antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
  body {
    background-color: var(--color-bg);
    color: var(--color-text);
    @apply antialiased;
  }
  /* CSS에서 color 속성은 상속되는 속성 */
  html,
  body {
    @apply transition-colors duration-300 ease-in-out;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
  }

  button {
    @apply cursor-pointer bg-none border-none;
    box-shadow: (var(--shadow));
    font: inherit;
    color: inherit;
  }

  p {
    @apply font-medium;
  }
}
