@import 'tailwindcss';
@import './components.css';
@import './theme.css';
@import './notion.css';
@layer base {
  html {
    color-scheme: light dark;
  }
  /* antialiased ==폰트를 부드럽게 보이게 하기 위한 렌더링 힌트 */
  /* .antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
  body {
    background-color: var(--color-bg);
    color: var(--color-text);
    @apply antialiased;
  }
  /* CSS에서 color 속성은 상속되는 속성 */
  html,
  body {
    @apply transition-colors duration-300 ease-in-out;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
  }

  button {
    @apply cursor-pointer bg-none border-none;
    box-shadow: (var(--shadow));
    font: inherit;
    color: inherit;
  }

  p {
    @apply font-medium;
  }
}
