.notion-page {
  padding-inline: 0 !important;
  width: 100% !important;
  margin: 0 !important;
}
.notion-table-of-contents-item {
  color: var(--color-text) !important;
}
.notion-asset-caption {
  color: #6b7280 !important;
  padding-top: 0 !important;
}

.notion-code code {
  white-space: pre-wrap !important;
}

.notion-title {
  margin: 0 !important;
}
.notion-aside-table-of-contents {
  background-color: transparent !important;
  position: fixed !important;
  width: 5rem;
  top: 5.5rem;
  right: 10rem;
}

.notion-table-of-contents-item-body {
  white-space: normal !important;
  word-break: break-word !important;
  line-height: 1.1 !important;
}
.notion-quote {
  font-size: 1.1rem !important;
}

@media (min-width: 1100px) {
  .notion-aside {
    display: none !important;
  }
}

@media (min-width: 1680px) {
  .notion-aside {
    display: flex !important;
  }
}

@media (min-width: 1200px) {
  .notion-page-content-has-aside {
    display: block !important;
    width: 100% !important;
  }

  .notion-page-content-inner {
    width: 100% !important;
    max-width: 100% !important;
  }
}

.notion {
  color: var(--color-text) !important;
  font-family: 'Pretendard', sans-serif !important;
  font-size: 1.1rem !important;
  transition-property: background-color !important;
  transition-duration: 100ms !important;
  transition-timing-function: ease-in !important;
  background-color: var(--color-article-bg) !important;
}

html.dark .notion {
  color: var(--color-text) !important;
}
