/* src/styles/notion.css */

.notion-page {
  padding-inline: 1.25rem !important;
  width: 100% !important;
  margin: 0 !important;
}

.notion-code code {
  white-space: pre-wrap !important;
}

.notion-title {
  margin: 0 !important;
}
.notion-aside-table-of-contents {
  background-color: transparent !important;
  position: fixed !important;
  top: 8.75rem; /* 140px */
  right: 6.5rem;
}
/* TOC 숨김 구간: 1100px ~ 1680px */
@media (min-width: 1100px) {
  .notion-aside {
    display: none !important;
  }
}

/* TOC 표시 구간: 1680px 이상 */
@media (min-width: 1680px) {
  .notion-aside {
    display: flex !important;
  }
}

/* 페이지 구조 정렬 수정 */
@media (min-width: 1300px) {
  .notion-page-content-has-aside {
    display: block !important;
    width: 100% !important;
  }

  .notion-page-content-inner {
    width: 100% !important;
    max-width: 100% !important;
  }
}

.notion {
  color: var(--color-text) !important;
  font-family: 'Pretendard', sans-serif !important;
  font-size: 1.1rem !important;
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out !important;
  background-color: var(--color-article-bg) !important;
}

body.dark .notion {
  color: var(--color-text) !important; /* 이미 var로 바뀌니까 여기선 값은 안 바꿔도 됨 */
}
