.notion-page {
  padding-inline: 0 !important;
  width: 100% !important;
  margin: 0 !important;
}
.notion-table-of-contents-item {
  color: var(--color-text) !important;
}

.notion-code code {
  white-space: pre-wrap !important;
}

.notion-title {
  margin: 0 !important;
}
.notion-aside-table-of-contents {
  background-color: transparent !important;
  position: fixed !important;
  top: 5.5rem;
  right: 6.5rem;
}

@media (min-width: 1100px) {
  .notion-aside {
    display: none !important;
  }
}

@media (min-width: 1680px) {
  .notion-aside {
    display: flex !important;
  }
}

@media (min-width: 1300px) {
  .notion-page-content-has-aside {
    display: block !important;
    width: 100% !important;
  }

  .notion-page-content-inner {
    width: 100% !important;
    max-width: 100% !important;
  }
}

.notion {
  color: var(--color-text) !important;
  font-family: 'Pretendard', sans-serif !important;
  font-size: 1.1rem !important;
  transition-property: background-color !important;
  transition-duration: 100ms !important;
  transition-timing-function: ease-in !important;
  background-color: var(--color-article-bg) !important;
}

html.dark .notion {
  color: var(--color-text) !important;
}
