/* src/styles/theme.css */
:root {
  --color-bg: #f9f9f9;
  --color-text: #111827;
  --color-article-bg: #f9f9f9;
  --color-theme-toggle-bg: #27272a;
}

html.dark {
  --color-bg: #1a1b1e;
  --color-text: #f5f5f5;
  --color-article-bg: #242427;
  --color-theme-toggle-bg: #242427;
}
