:root {
  --color-bg: #f8f9fa;
  --color-text: #374151;

  --color-primary: #f1f5f9;
  --color-accent: #f1f5f9;

  --color-accent-text: #1e293b;

  --shadow: 0 2px 4px rgba(0, 0, 0, 0.06), 0 4px 12px rgba(0, 0, 0, 0.1); /* 또는 0.3~0.4 정도 */
}

html.dark {
  --color-bg: #0f172a;
  --color-text: #e2e8f0;

  --color-primary: #1e293b;
  --color-accent: #1e293b;

  --color-accent-text: #f1f5f9;

  --shadow: 0 2px 6px rgba(0, 0, 0, 0.5), 0 6px 20px rgba(0, 0, 0, 0.35);
}
