/* styles/theme.css */
:root {
  --color-bg: #f8f9fa;
  --color-text: #374151;

  --color-primary: #f1f5f9;
  --color-accent: #e0f2fe;
  --color-accent-text: #1e293b;
  --color-post-bg: #f8f9fa;

  --color-tag-default-bg: #d1d5db;
  --color-tag-default-text: #374151;

  --color-tag-gray-bg: #e5e7eb;
  --color-tag-gray-text: #1f2937;

  --color-tag-brown-bg: #fde68a;
  --color-tag-brown-text: #78350f;

  --color-tag-orange-bg: #fdba74;
  --color-tag-orange-text: #7c2d12;

  --color-tag-yellow-bg: #fef08a;
  --color-tag-yellow-text: #92400e;

  --color-tag-green-bg: #bbf7d0;
  --color-tag-green-text: #065f46;

  --color-tag-blue-bg: #bae6fd;
  --color-tag-blue-text: #075985;

  --color-tag-purple-bg: #ddd6fe;
  --color-tag-purple-text: #5b21b6;

  --color-tag-pink-bg: #fbcfe8;
  --color-tag-pink-text: #9d174d;

  --color-tag-red-bg: #fecaca;
  --color-tag-red-text: #991b1b;

  --shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.06);
}

html.dark {
  --color-bg: #0f172a;
  --color-text: #e2e8f0;

  --color-primary: #1e293b;
  --color-accent: #1e3a8a;

  --color-accent-text: #f1f5f9;
  --color-post-bg: #1e293b;

  --color-tag-default-bg: #4b5563;
  --color-tag-default-text: #f3f4f6;

  --color-tag-gray-bg: #6b7280;
  --color-tag-gray-text: #f9fafb;

  --color-tag-brown-bg: #78350f;
  --color-tag-brown-text: #fef9c3;

  --color-tag-orange-bg: #9a3412;
  --color-tag-orange-text: #ffedd5;

  --color-tag-yellow-bg: #ca8a04;
  --color-tag-yellow-text: #fef9c3;

  --color-tag-green-bg: #065f46;
  --color-tag-green-text: #d1fae5;

  --color-tag-blue-bg: #075985;
  --color-tag-blue-text: #e0f2fe;

  --color-tag-purple-bg: #5b21b6;
  --color-tag-purple-text: #ede9fe;

  --color-tag-pink-bg: #9d174d;
  --color-tag-pink-text: #fce7f3;

  --color-tag-red-bg: #991b1b;
  --color-tag-red-text: #fee2e2;

  --shadow: none;
}
